{{#if error}}
    <div ng-init="vm.redirect('{{state}}')"></div>
  {{#each error}}
      <div ng-init="vm.error('{{this}}')"></div>
  {{/each}}
{{/if}}

{{#if success}}
    <div ng-init="vm.redirect('{{state}}')"></div>
    {{#each success}}
        <div ng-init="vm.success('{{this}}')"></div>
    {{/each}}
{{/if}}
