<!DOCTYPE html>
<html lang="en" ng-app="dabou.auth">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dabou</title>

    <!--STYLES-->
    <link rel="stylesheet" href="/vendor/angular-toastr/css/angular-toastr.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div ui-view="nav"></div>
<div class="ui-view-container">
    <div ui-view="page" class="page-view">
        <div ui-view>
          {{> status}}
        </div>
    </div>
</div>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/vendor/jquery/js/jquery.min.js"></script>
<script src="/vendor/angular/js/angular.min.js"></script>
<script src="/vendor/angular-animate/js/angular-animate.min.js"></script>
<script src="/vendor/angular-bootstrap/js/ui-bootstrap-tpls.min.js"></script>
<script src="/vendor/angular-toastr/js/angular-toastr.tpls.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
<script src="/vendor/ui-router/js/angular-ui-router.min.js"></script>
<script src="/js/dependencies/xtForm.js"></script>
<script src="/js/custom.js"></script>
<script src="/spa/dabou.module.js"></script>
<script src="/spa/auth/auth.module.js"></script>
<script src="/spa/main/main.module.js"></script>
<script src="/spa/auth/auth.route.js"></script>
<script src="/spa/auth/controllers/login.js"></script>
<script src="/spa/auth/controllers/register.js"></script>
<script src="/spa/auth/controllers/status.js"></script>
<script src="/spa/auth/controllers/user.js"></script>
<script src="/spa/auth/directives/compareTo.js"></script>
<script src="/spa/auth/services/auth.service.js"></script>
<script src="/spa/main/controllers/index.js"></script>
<script src="/spa/main/main.route.js"></script>
<!--SCRIPTS END-->

<!--TEMPLATES-->

<!--TEMPLATES END-->
</body>
</html>
