<div class="container push-down">
    <div class="row">
        <div class="col-md-12">
            <accordion>
                <accordion-group is-open="filters.open">
                    <accordion-heading>
                        Filters <i class="pull-right fa fa-lg" ng-class="{'fa-chevron-down': filters.open, 'fa-chevron-right': !filters.open}"></i>
                    </accordion-heading>
                    <div class="container">
                        <div class="row">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"> Horde
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox2" value="option2"> Alliance
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox3" value="option3"> Neutral
                            </label>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">Tabards</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Quality</th>
                                <th>Item Level</th>
                                <th>Required Level</th>
                                <th>Faction</th>
                                <th>Source</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="tabard in vm.tabards | itemsPerPage: 25" total-items="vm.totalCount">
                                <td>
                                    <span class="tabard-icon">
                                        <img ng-src="http://media.blizzard.com/wow/icons/56/{{tabard.icon}}.jpg" class="img-rounded">
                                    </span>
                                    <a ui-sref="tabard({id: tabard.id})" style="color: {{tabard.quality.color}}"><strong>{{tabard.name}}</strong></a>
                                </td>
                                <td>{{tabard.quality.name}}</td>
                                <td>{{tabard.itemLevel}}</td>
                                <td>{{tabard.reqLevel}}</td>
                                <td>{{tabard.faction}}</td>
                                <td ng-if="tabard.attainable">
                                    <span ng-repeat="sourceType in tabard.sourceType">
                                        {{sourceType.name}} {{$last ? '' : ', '}}
                                    </span>
                                </td>
                                <td ng-if="!tabard.attainable">Unavailable</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="clearfix" ng-if="$index%3==0"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <dir-pagination-controls on-page-change="vm.getTabardsPaged(newPageNumber)"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="vm.loading">
                    <div class="col-md-12 text-center">
                        <h3>Loading</h3><i class="fa fa-spinner fa-spin fa-4x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
