<div id="viewer-container" class="container push-down">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">{{vm.tabard.name}}</div>
                <div class="panel-body">
                    <div class="text-center">
                    </div>
                    <canvas id="viewer" select></canvas>
                    <div class="text-center">
                        <button class="btn btn-success" ng-click="vm.changeRace()">Change Race</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
