<div class="container push-down">
    <div class="row">
        <div class="col-md-8">
            <accordion>
                <accordion-group is-open="filters.open">
                    <accordion-heading>
                        Filters <i class="pull-right fa fa-lg" ng-class="{'fa-chevron-down': filters.open, 'fa-chevron-right': !filters.open}"></i>
                    </accordion-heading>
                    <div class="container">
                        <div class="row">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1"> Horde
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox2" value="option2"> Alliance
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox3" value="option3"> Neutral
                            </label>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-md-4">
            <accordion>
                <accordion-group is-open="sort.open">
                    <accordion-heading>
                        Sort <i class="pull-right fa fa-lg" ng-class="{'fa-chevron-down': sort.open, 'fa-chevron-right': !sort.open}"></i>
                    </accordion-heading>
                    <div class="container">
                        <div class="row">
                            <span>
                            Name
                            <i class="fa fa-lg fa-chevron-up" ng-click="vm.sort('name', 'ASC')"></i>
                            <i class="fa fa-lg fa-chevron-down" ng-click="vm.sort('name', 'DESC')"></i>
                            </span>
                            <span>
                            Quality
                            <i class="fa fa-lg fa-chevron-up" ng-click="vm.sort('quality', 'ASC')"></i>
                            <i class="fa fa-lg fa-chevron-down" ng-click="vm.sort('quality', 'DESC')"></i>
                            </span>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">Tabards</div>
                <div class="panel-body">
                    <div dir-paginate="tabard in vm.tabards | itemsPerPage: 15" total-items="115">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading" ng-class="{'panel-heading-border-bottom': !vm.isLoggedIn}" style="background-color: {{tabard.quality.color}}">
                                    <div class="col-md-10">
                                        <a ui-sref="tabard({id: tabard.id})">{{tabard.name}}</a>
                                    </div>
                                    <div class="col-md-2">
                                        <img ng-src="http://media.blizzard.com/wow/icons/56/{{tabard.icon}}.jpg" class="img-responsive img-rounded">
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div ng-if="vm.isLoggedIn" class="panel-body">
                                    <div class="text-center">                                    
                                        <i class="fa fa-2x fa-check"></i>
                                        <i class="fa fa-2x fa-star"></i>
                                        <i class="fa fa-2x fa-times"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix" ng-if="$index%3==0"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <dir-pagination-controls on-page-change="vm.getTabardsPaged(newPageNumber)"></dir-pagination-controls>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="vm.loading">
                    <div class="col-md-12 text-center">
                        <h3>Loading</h3><i class="fa fa-spinner fa-spin fa-4x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
