<div id="viewer-container" class="container push-down">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">Model Viewer</div>
                <div class="panel-body">
					<canvas id="viewer" select></canvas>
					<div class="text-center">
						<button class="btn btn-success" ng-click="vm.changeRace()">Change Race</button>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>