<div class="container push-down">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">Profile</div>
          <div class="panel-body">
  
              <h1>{{vm.profile.name}}</h1>
              <small><cite title="{{vm.profile.location}}">{{vm.profile.location}} <i class="fa fa-lg fa-home">
              </i></cite></small>
              <p>
                <i class="fa fa-lg fa-envelope"></i> email@example.com
                  <br />
                  <i class="fa fa-lg fa-globe"></i><a href="http://www.jquery2dotnet.com"> www.jquery2dotnet.com</a>
                  <br />
                  <i class="fa fa-lg fa-gift"></i> June 02, 1988
              </p>
              <p>{{vm.profile.bio}}</p>
  
        </div>
      </div>
    </div>
  </div>
</div>